@import './variables';

$padding: 30px;

.master-detail {
  display: flex;

  >div {
    padding: $padding;
    // padding-left: $padding;
    // padding-right: $padding;
  }

  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 16px;
  }

  .detail {
    border-left: solid 1px $border-color;
  }
}
