@import 'variables';

html,
body {
	font-family: 'Roboto', sans-serif;
	background-color: #fbfbfb;
}

body {
	background-color: transparent;
	color: $font-color;
}

h1,
h2,
h3 {
	font-weight: 300;
}

button,
.btn {
	cursor: pointer;
	border-radius: 2px;
}

small,
.small {
	font-size: 90%;
	font-weight: 400;
}
