@import 'variables';

html,
body {
	font-family: 'Roboto', sans-serif;
	// background-color: #fbfbfb;
}

body {
	background-color: transparent;
	color: $font-color;
}

h1,
h2,
h3 {
	font-weight: 300;
}

h3 {
  font-size: 16px;
}

button,
.btn {
	cursor: pointer;
}

.invalid-feedback {
  font-size: 90%;
  font-weight: 400;
}

small,
.small {
	font-size: 90%;
	font-weight: 400;
}

hr {
  margin-top: 0;
  margin-bottom: 0;
}
