@import 'variables';
$margin: 30px;
.default-padding {
  margin-left: $margin;
  margin-right: $margin;
}

.page {
  margin-top: $margin;
  color: $font-color;
  font-size: 14px;
  min-height: 300px;
  header {
    display: flex;
    justify-content: space-between;
  }
  .title {
    h1 {
      font-size: 26px;
      color: $primary-color;
    }
    h3 {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 0;
      span {
        font-weight: 500;
      }
    }
  }
  &.center {
    display: flex;
    justify-content: center;
  }
}

#section-wrapper {
  margin-left: 90px;
}

.content {
  padding: 20px;
  border-radius: 2px;
  background-color: white;
  &.med-width {
    width: 650px;
  }
}

.table thead th {
  font-size: 13px;
  text-transform: uppercase;
  border-top: none;
}

.table td {
  font-size: 14px;
  i {
    font-size: 24px;
  }
}

.info {
  background-color: #f7f7f7;
  padding: 30px;
  width: 70%;
  font-size: 18px;
  font-weight: 300;
}

