// Primary colors
$primary-color: #0ca57c;
$section-nav-background: #f7f7f7;
$font-color: #717171;
$border-color: #dedede;

// Background colors
$page-background-color: #f4f7fa;

// Text colors
$page-text-color: #646f75;
$darker-text-color: #717171;

// Sizes
$main-nav-size: 65px;
$section-nav-width: 250px;
$header-height: 35px;
